* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
  gap: 20px;
  color: rgb(5, 39, 16);
}

.field {
  display: flex;
  flex-direction: column;
  background-color: rgb(184, 123, 241);
  padding: 5px;
  align-items: center;
  margin: 5px;
  border-radius: 5px;
}
